.Features_wrapper {
    background-color: #1e1e1e;
}

.FeaturesCards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 100%;
}

.FeaturesCard {
    width: 100%;
    display: flex;
    color: #fff;
    gap: 30px;
    position: relative;
}

.FeaturesCard::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 20px;
    height: 55%;
    width: 1px;
    background-color: rgba( 255, 255, 255, 0.2);
    transition: .6s;
}

.FeaturesCard:hover:after {
    height: 35%;

}

.FeaturesCard i {
    font-size: 42px;
    color: var(--primary-color);
    transition: .6s;
}

.FeaturesCard:hover i {
    transform: translateY(20px);
}

.FeaturesCard h3 {
    font-size: 20px;
    margin-bottom: .5rem;
    color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
    .FeaturesCard p {
        font-size: 12px;
    }

    .FeaturesCard i {
        font-size: 30px;
    }

    .FeaturesCard::after {
        left: 15px;
    }
}

@media screen and (max-width: 900px) {
    .FeaturesCards {
        grid-template-columns: repeat(1,1fr);
        gap: 60px;
    }
}